.navbar {
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  height: 100%;

  @include light {
    background-color: var(--mantine-color-gray-4);
  }
  @include dark {
    background-color: var(--mantine-color-dark-9);
  }
}

.user-main {
  padding-top: 3.5rem;
  padding-bottom: 4.5rem;
  @media (max-width: 700px) {
    padding-bottom: 4rem;
  }
}

.mantine-NavLink-root {
  border-radius: var(--mantine-radius-md);

  &:hover {
    background-color: var(--mantine-color-cyan-8);
  }
}